.mathematic {
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  color: azure;
}

body {
  background-color: #1d3b69;
}

h1 {
  color: yellow;
}

label {
  color: pink;
}

li{
  color: white;
}

.btn {
  text-align: center;
  margin-left: 50px;
}

.backbtn{
  margin-right: 150px;
  padding: 20px;
}

#output {
  margin-left: 200px;
  color: #e1fe34;
  font-size: 50px;
  text-decoration: underline;
}

.dropdown-content {
  display: none;
}

/*Dropdown Hide and Show*/
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover #mainButton {
  background-color: #3e8e41;
}

.dropdown{
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}

#calc{
  display: none;
}

.begin-div{
  text-align: center;
}

.begin{
  display: inline-block;
  padding: 30px;
  margin-top: 250px;
}
